outputs/
logs/
slurm/
split_data
data/scanrefer/*
data/glove.p
data/glove_trimmed_ScanRefer.npy
.idea

# pointgroup ops
lib/pointgroup_ops/PG_OP*
lib/pointgroup_ops/build
lib/pointgroup_ops/dist

lib/utils/build

*.so
*.egg
*.log
*.o

data